body {
  margin: 0;
  overflow: hidden;
  background-color: black;
  color:white;
}

.mycontent {
  padding-top: 50px;
}

#base_div {
  position: absolute;
  top: 100px;
  width: 80%;
}

.navbar-brand, .navbar-nav>li>a {
  text-shadow: none;
}

.addPad {
  top: 150px !important
}